__pycache__/
*.py[cod]
*$py.class
*.so
.Python
MANIFEST
htmlcov/
.coverage
.coverage.*
.cache
.pytest_cache/
cover/
*.mo
__pypackages__/
.env
.venv
env/
venv/
ENV/
/site
.mypy_cache/
.idea/
.DS_Store
.vscode/
reference/
